@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

.app {
  width: 1025px;
  height: 839px;
  background-color: #CCCCCC;
  position: relative;
  

}

.hangedMan>img {
  width: 400px;
  height: 466.67px;
  position: absolute;
  top: 59px;
  left: 38px;
}

.chooseWordButton {
  width: 200px;
  height: 60px;
  background: #27AE60;
  border-radius: 8px;
  position: absolute;
  top: 89px;
  right: 53px;
  color: white;
  font-size: 20px;
  line-height: 23px;
  font-family: 'Roboto', Courier, monospace;
}

.lower {
  width: inherit;
  height: 243px;
  background-color: inherit;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.letras {
  width: 664px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.letras>button {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.letras>.letterButtonDisabled {

  background: #9FAAB5;
  border-color: #7AA7C7;
  color: #798A9F;
}

.letras>.letterButtonEnabled {
  background: #E1ECF4;
  border-color: #7AA7C7;
  color: #39739D
}

.chute {
  margin-top: 56px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.chute>span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;

}

.chute>input {

  width: 353px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.chute>.chuteButton {
  width: 100px;
  height: 40px;
  background: #E1ECF4;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #3C76A1;
}

.word {
  position: absolute;
  bottom: 340px;
  right: 61px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}

.black{
  color: black;
}

.green{
  color: green;
}

.red{
  color: red;
}